
.gris-color{color:#D1D3D4;}
.gris-fondo{background-color:#D1D3D4;}

body {
      font-family: 'Poppins', sans-serif;
}

.texto-normal {
  font-size: 1rem;
}
.texto-intro {
  font-size: 1.5rem;
}
.titulo-normal{
  font-size: 1.5rem;
  font-weight: 600;
}
